* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}
:root {
  --bg-color: #ffffff;
  --text-color: #121212;
  --main-font: 2.2rem;
  --p-font: 1.1rem;
}
body {
  background: var(--bg-color);
  color: var(--text-color);
}
header {
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  position: fixed;
  background: var(--bg-color);
  box-shadow: 0px 2px 18px 0 rgb(129 162 182 / 20%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 8%;
  transition: .3s;
}
.logo {
  color: var(--text-color);
  font-size: var(--main-font)px;
  font-weight: 600;
  line-height: 0.8;
}
#menu